# Queries supporting these results

## Initialize Database

In [1]:
!rm -f zfin-db-slice.db
!curl -L -o zfin-db-slice.db.gz https://github.com/rtaylorzfin/8395-uniprot-notebook/raw/main/db/zfin-db-slice.db.gz
!gunzip -f zfin-db-slice.db.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 24.3M  100 24.3M    0     0  5101k      0  0:00:04  0:00:04 --:--:-- 8000k

In [2]:
%reload_ext sql

In [3]:
%%sql
sqlite:///zfin-db-slice.db

## Database Queries

In [4]:
%%sql

select count(*) from marker;

 * sqlite:///zfin-db-slice.db
Done.

[(176437,)]

# Export Excel Spreadsheet

In [5]:
import sqlite3
import pandas as pd

def main():

    tables = ['section1']

    # Create a Pandas Excel writer using the openpyxl engine
    writer = pd.ExcelWriter('Meeting Notes.xlsx', engine='openpyxl')

    # Loop over the CSV files
    for i, table in enumerate(tables):
      # Read the CSV file
      df = get_table_rows_as_data_frame(table)

      # Write the dataframe to a sheet in the Excel file
      df.to_excel(writer, table, index=False)

    writer.close()


def get_table_rows_as_data_frame(tablename):
    # Connect to the database
    conn = sqlite3.connect('zfin-db-slice.db')

    # Create a cursor
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM "' + tablename + '"')
    results = cursor.fetchall()

    column_names = [description[0] for description in cursor.description]

    # Convert the results to a Pandas DataFrame
    df = pd.DataFrame(results, columns=column_names)

    cursor.close()
    conn.close()

    return df

main()

OperationalError: no such table: section1