# Reports from UniProt Meeting on 1/12/23

Meeting notes at https://zfin.atlassian.net/wiki/spaces/doc/pages/edit-v2/5057904641

## OK to Load
Take out the UniProt IDs in ZFIN that were "added back" by the "[OK to Load](#ok2load)" step. 
Send me a list of those. 

### Answer (more details in Database Queries):
```
Q58WW8 Q6P119 A0A0R4ID71 Q568F0 Q568F0 A6P6V4 E7FH00 A3KFQ2 B0V2R6 F1QNF8 A0A0R4IE10 F1QUR7 F1R2P4 A0A8M1PFY0 A0A0R4IVM2 A0A0G2KJA6 H9GXB9 A0A0R4IDY8 A0A8M9Q9W5 A0A0G2KR99 E7F7L1 A0A0G2L986 A0A0G2KLL0 F1QCF6 A0A0G2KQM6 A0A0G2KIJ4 A0A0R4IHW0 A0A0R4ICA2 A0A0G2L611 A0A0G2KZI4 BAZ1B BICL1 BN3D2 CHD8 COX14 GATC MCA3B MYCN MYO1C NCKP1 NTM1B S12A9 SRAC1 SVBP
```

## Multiple Accessions Per Gene
There are 15 accessions with multiple gene associations: [details](#multiple-accs)

### Publication with Single UniProt

|pub_id          |gene_id             |publication                                           |gene_abbrev|accession|
|----------------|--------------------|------------------------------------------------------|-----------|---------|
|ZDB-PUB-020723-3|ZDB-GENE-030131-1613|Curation of NCBI Gene Data Via Shared RNA Sequence IDs|otop1      |Q7ZWK8   |

## Queries supporting these results

### Initialize Database

In [1]:
!rm -f temp-zfin.db
!curl -L -o temp-zfin.db.gz https://github.com/rtaylorzfin/8395-uniprot-notebook/raw/main/db/zfin-db-slice.db.gz
!gunzip -f temp-zfin.db.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 24.3M  100 24.3M    0     0  14.6M      0  0:00:01  0:00:01 --:--:-- 38.9M

In [2]:
%reload_ext sql

In [3]:
%%sql
sqlite:///temp-zfin.db

### Database Queries

<a id="ok2load"></a>
#### OK to Load

In [4]:
%%sql

create table "1a" as
select dblink_acc_num, mrkr_zdb_id, mrkr_abbrev from db_link d left join marker m on m.mrkr_zdb_id = d.dblink_linked_recid where dblink_acc_num in ('Q58WW8', 'Q6P119', 'A0A0R4ID71', 'Q568F0', 'Q568F0', 'A6P6V4', 'E7FH00', 'A3KFQ2', 'B0V2R6', 'F1QNF8', 'A0A0R4IE10', 'F1QUR7', 'F1R2P4', 'A0A8M1PFY0', 'A0A0R4IVM2', 'A0A0G2KJA6', 'H9GXB9', 'A0A0R4IDY8', 'A0A8M9Q9W5', 'A0A0G2KR99', 'E7F7L1', 'A0A0G2L986', 'A0A0G2KLL0', 'F1QCF6', 'A0A0G2KQM6', 'A0A0G2KIJ4', 'A0A0R4IHW0', 'A0A0R4ICA2', 'A0A0G2L611', 'A0A0G2KZI4', 'BAZ1B', 'BICL1', 'BN3D2', 'CHD8', 'COX14', 'GATC', 'MCA3B', 'MYCN', 'MYO1C', 'NCKP1', 'NTM1B', 'S12A9', 'SRAC1', 'SVBP') order by dblink_acc_num;
select * from "1a";

 * sqlite:///temp-zfin.db
Done.
Done.

[('A0A0G2KIJ4', 'ZDB-GENE-030131-9298', 'wu:fa56d06'),
 ('A0A0G2KJA6', 'ZDB-GENE-170530-6', 'nherf1b'),
 ('A0A0G2KLL0', 'ZDB-GENE-030131-8004', 'sema6a'),
 ('A0A0G2KQM6', 'ZDB-GENE-060508-1', 'fanca'),
 ('A0A0G2KR99', 'ZDB-GENE-150114-1', 'kdm5a'),
 ('A0A0G2KZI4', 'ZDB-GENE-060508-1', 'fanca'),
 ('A0A0G2L611', 'ZDB-GENE-101111-9', 'slc1a9'),
 ('A0A0G2L986', 'ZDB-GENE-120402-2', 'thbs1a'),
 ('A0A0R4ICA2', 'ZDB-GENE-110728-3', 'toporsb'),
 ('A0A0R4ID71', 'ZDB-GENE-030131-212', 'evplb'),
 ('A0A0R4IDY8', 'ZDB-GENE-131119-21', 'si:ch73-364h19.2'),
 ('A0A0R4IE10', 'ZDB-GENE-050706-188', 'eef1a1l2'),
 ('A0A0R4IHW0', 'ZDB-GENE-060720-30', 'cckb'),
 ('A0A0R4IVM2', 'ZDB-GENE-090624-2', 'syngr1b'),
 ('A3KFQ2', 'ZDB-GENE-041001-83', 'nitr1f'),
 ('A6P6V4', 'ZDB-GENE-110725-1', 'tas2r3'),
 ('B0V2R6', 'ZDB-GENE-030131-7811', 'fam78bb'),
 ('E7F7L1', 'ZDB-GENE-030131-7093', 'setdb2'),
 ('E7FH00', 'ZDB-GENE-110421-2', 'grm8a'),
 ('F1QCF6', 'ZDB-GENE-100402-3', 'ugt2b5'),
 ('F1QNF8', 'ZDB-GENE-100406-3', 'ugt5b1'),
 ('F1QUR7', 'ZDB-GENE-100406-5', 'ugt5b3'),
 ('F1R2P4', 'ZDB-GENE-040219-13', 'tlr8a'),
 ('H9GXB9', 'ZDB-GENE-170217-1', 'ppic'),
 ('Q58WW8', 'ZDB-GENE-050510-3', 'tas2r203'),
 ('Q6P119', 'ZDB-GENE-091204-407', 'ndufb3')]

### Multiple Accessions Per Gene
<a name="multiple-accs"></a>

In [5]:
%%sql
create table "2a" as 
select dblink_acc_num,
 count(dblink_linked_recid) as gene_count, 
 group_concat(dblink_linked_recid,', ') as genes 
from db_link 
where dblink_fdbcont_zdb_id = 'ZDB-FDBCONT-040412-47' 
group by dblink_acc_num 
having count(dblink_linked_recid) > 1;
select * from "2a";

 * sqlite:///temp-zfin.db
Done.
Done.

[('A0A0R4INU4', 2, 'ZDB-GENE-070705-407, ZDB-GENE-061214-4'),
 ('A0A2R8QBP2', 2, 'ZDB-GENE-030131-7802, ZDB-GENE-090603-1'),
 ('A0A2R8RNT6', 2, 'ZDB-GENE-070112-2072, ZDB-GENE-030131-478'),
 ('A3KPR4', 2, 'ZDB-GENE-070620-17, ZDB-GENE-070927-10'),
 ('A4IGE9', 2, 'ZDB-GENE-120214-9, ZDB-GENE-070424-73'),
 ('A7MBY4', 2, 'ZDB-GENE-080723-3, ZDB-GENE-071004-32'),
 ('A8KB40', 2, 'ZDB-GENE-040426-2762, ZDB-GENE-080227-7'),
 ('B0S5A1', 2, 'ZDB-GENE-070705-407, ZDB-GENE-061214-4'),
 ('E7F5V3', 2, 'ZDB-GENE-030131-7802, ZDB-GENE-090603-1'),
 ('F6NMI9', 2, 'ZDB-GENE-070705-407, ZDB-GENE-061214-4'),
 ('F8W3U6', 2, 'ZDB-GENE-030131-7802, ZDB-GENE-090603-1'),
 ('Q2PRH6', 2, 'ZDB-GENE-070806-6, ZDB-GENE-010309-2'),
 ('Q6DEF5', 2, 'ZDB-GENE-040801-199, ZDB-GENE-110920-8'),
 ('Q6P2U5', 2, 'ZDB-GENE-030131-8007, ZDB-GENE-030131-9056'),
 ('Q801W9', 2, 'ZDB-GENE-001106-16, ZDB-GENE-001106-8')]

## Export Excel Spreadsheet

In [6]:
import sqlite3
import pandas as pd

def main():

    tables = ['1a', '2a']

    # Create a Pandas Excel writer using the openpyxl engine
    writer = pd.ExcelWriter('Meeting Notes.xlsx', engine='openpyxl')

    # Loop over the CSV files
    for i, table in enumerate(tables):
      # Read the CSV file
      df = get_table_rows_as_data_frame(table)

      # Write the dataframe to a sheet in the Excel file
      df.to_excel(writer, table, index=False)

    writer.close()


def get_table_rows_as_data_frame(tablename):
    # Connect to the database
    conn = sqlite3.connect('temp-zfin.db')

    # Create a cursor
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM "' + tablename + '"')
    results = cursor.fetchall()

    column_names = [description[0] for description in cursor.description]

    # Convert the results to a Pandas DataFrame
    df = pd.DataFrame(results, columns=column_names)

    cursor.close()
    conn.close()

    return df

main()